

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

        
}

body {
    background: linear-gradient(45deg, black, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calculator {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 320px;
}

input{
    width: 100%;
    border: none;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin: 10px;
    padding: 24px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    color: white;
}

input::placeholder{
    color: white;
}


button{
    width: 50px;
    height: 50px;
    font-size: 16px;
    margin: 5px;
    border: none;
    background: transparent;
    color: white;
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.equalbtn{
    background-color: #ffbb00;
    color: white;
}

.operator{
    color: rgb(0, 255, 110);
}